
section{
	margin-top:120px;
	height:1400px;
}

#mentBox{
	margin-left:90px;
}

#mentBox p{
	margin-top:30px;
	font-size:16px;
	color:gray;
}

#registerBox{
	margin-left:20%;
}

#registerBox p{
	font-size:18px;
}

#myStudyGroup{
	margin-left:96px;
	width:380px;
}


#fileType{

	margin-left:60px;
	width:380px;
}


#csType{

	margin-left:60px;
	width:380px;
}

#register{
	margin-top:30px;
}

#registerId{
	margin-left:50px;
	width:400px;
	border:none;

}

#registerName{
	margin-top:30px;
}

#userName{
	margin-left:74px;
	width:400px;
	border:none;
}

#titleInput{
	margin-left:98px;
	width:400px;
}

#fileInput{
	margin-left:98px;
	width:400px;
}

#contentText{
	width:580px;
	height:240px;
}

#buttonGroup{
	margin-top:30px;
}

#goBackBtn{
	background-color:gray;
	margin-left:86px;
	width:130px;
	height:50px;
	color:white;
}

#registerResetBtn{
	background-color:brown;
	width:130px;
	height:50px;
	color:white;
}

#registerConfirmBtn{
	background-color:dodgerBlue;
	width:130px;
	height:50px;
	color:white;
}