
section{
	margin-top:150px;
}

#sideImg{
	width:600px;
	height:400px;
}

#mentBox{
	margin-left:150px;
}

#groupOpenBox{
	margin-left:150px;
}

#groupNameInput{
	margin-left:50px;
	width:350px;
}

#checkNameBtn{
	margin-left:30px;
}

#memberCount{
	margin-left:35px;
	width:150px;
}