
section{
	margin-top:150px;
}

#sideImg{
	width:600px;
	height:400px;
}

#mentBox{
	margin-left:150px;
}

#groupOpenBox{
	margin-left:150px;
}

#groupNameInput{
	margin-left:50px;
	width:350px;
}

#checkNameBtn{
	margin-left:30px;
}

#memberCount{
	margin-left:35px;
	width:150px;
}

#groupCategory{
	margin-left: 35px;
	width:350px;
}

#locationlist{
	margin-left: 35px;
	width:350px;
}

#locationCity{
	margin-left: 50px;
	width:350px;
}



#groupIntro{
	margin-left: 35px;
	width:350px;
	height:200px;
	resize:none;
}


#buttonGroup{
	margin-top:40px;
	margin-left:40px;
}

#goBackBtn{
	background-color:gray;
	margin-left:86px;
	width:130px;
	height:50px;
	color:white;
}

#registerConfirmBtn{
	background-color:dodgerBlue;
	width:130px;
	height:50px;
	color:white;
}
