@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

body{
	width:100%;
}

a{
	text-decoration:none;
	color:black;
}


/* Header CSS */

 header{
/*   border:1px solid black;   */ 
 	position:fixed;  
	z-index:99;
/*  	overflow:hidden; */
}
 
#menu{
	 display:flex; 
	/* justify-content:space-around; */
	width:100%;
/*  	margin-top:20px;   */
/*  	height:200px; */
	position:fixed;
/*  	border:1px solid blue;   */
	
/*  	z-index:1;  */ 
 	top:0; 
	background-color:white;
	height:130px;
	transition: height .5s;
	
}

#menu:hover{
	cursor:pointer;
	
	height:260px;
	border-bottom:1px solid gray;
	box-shadow: 0 4px 4px -4px gray;
	transition: height .3s;
	
	
}



.subul{
/*     z-index: 0; */
}



 #menu  ul{
	list-style-type:none;
 	margin-top:22px; 
} 


#logo{
	margin-left:12%;
}

#logo a{
	font-size:22px;
	font-weight:bold;
}

#guidemenu{
	margin-left:340px;
}

#guidemenu ul > li{
	float: left;
	width : 120px;
 	font-size:20px;
	font-weight:bold; 
	text-align:center;
	margin-left:40px;

}


#guidemenu ul > li li{
	font-size:15px;
	font-weight:normal;
	margin-top:10px;
	float: right;
}

#usermenu{
	/* width:100%; */
}

#usermenu ul{
	margin-top:26px;
}

#usermenu ul > li{
	float: left;
	width : 110px;
	margin-left:15px;
	text-align:center;
}

#usermenu ul > li li{
	/* float: right; */
		font-size:15px;
	font-weight:normal;
	margin-top:10px;
	float: right;
}

/* #menu ul > li{
	float : left;
	width: 140px;
	margin: 5px;
} */

#menu ul li > ul{
	display:none;
}

#menu ul li:hover{
	cursor:pointer;
}

#menu ul li:hover ul{
	cursor:pointer;
	display:block;
}


/* Section CSS */

#middleArea{
	display:flex;
	justify-content:center;
	margin-top:200px;
}

#middleArea img{
	width : 900px;
	height: 500px;
}

#mainImg{
	margin-left:160px;
}

@keyframes fadeInUp{
	0%{
		opacity:0;
		transform: translate3d(0, 100%, 0);
	}
	to{
		opacity:1;
		transform: translateZ(0);
	}
}



#middleArea{
	position:relative;
	animation: fadeInUp 1s;
}

th{
	text-align:center;
}

td{
	text-align:center;
}