
section{
	margin-top:4%;
}

#menuGuide{
	margin-left:16%;
	margin-top:4%;
}

#menuGuide > h4{
	font-size:28px;
}

#menuGuide > p{
	margin-top:32px;
}


#myGroupBox{
	margin-top:60px;
}

#movetomap{
	background-color:dodgerBlue;
	color:white;
	
	margin-left:90px;
}

span{
	font-size:17px;
	color:gray;
}

#myJoinGroup{
	margin-top:60px;
}

#searchNewGroup{
	margin-left:30px;
}

#myNewMsg{
	margin-left:15px;
}