
section{
	margin-top:8%;
}

#menuGuide{
	margin-left:16%;
}

#menuGuide > h4{
	font-size:28px;
}

#menuGuide > p{
	margin-top:32px;
}


#wishListBox{
	margin-top:80px;
}

#movetomap{
	background-color:dodgerBlue;
	color:white;
	
	margin-left:90px;
}

span{
	font-size:17px;
	color:gray;
}