
section{
	margin-top:50px;
	height:1200px;
}

section h4{
	text-align:center;
}

#container{
	margin:auto;
	text-align:center; 
}

#idArea{

	text-align:center;
	justify-content:center;
}

.idInput{
	margin-left:30px;
	margin-right:30px;
}

.passwordArea{
	text-align:center;
	justify-content:center;
}