<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.myproject.mapper.guidemenu.GroupFileMapper">

<!-- 자료실 페이지 이동 시 유저의 그룹 리스트 가져오기 -->
<select id="selectStudyList" resultType="GroupDTO">
SELECT * FROM studygroup_detail WHERE member_id = #{id}
</select>

<!-- 스터디그룹별 파일 리스트 가져오기 -->
<select id="selectFileList" resultType="FileDTO">
SELECT * FROM file_master WHERE group_name = #{groupName}
</select>

<!-- 파일 및 게시글 내용 저장하기 -->
<insert id="saveFileAndPost">
INSERT INTO file_master(group_name, file_name, file_type, post_type, post_title, content, uploader)
VALUES(#{group_name}, #{file_name}, #{file_type}, #{post_type}, #{post_title}, #{content}, #{uploader})
</insert>

</mapper>