<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.myproject.mapper.guidemenu.LocationMapper">

<!-- 모임장소 찜하기 -->
<insert id="insertWishPlace">
INSERT INTO space_wish(user_id, space_name, space_addr, space_tel)
VALUES(#{id}, #{name}, #{addr}, #{tel})
</insert>

<!-- 회원의 모임 위시리스트 가져오기 -->
<select id="selectWishList" resultType="PlaceDTO">
SELECT * FROM space_wish WHERE user_id = #{userId};
</select>

<!-- 찜한 모임 장소 삭제하기 -->
<delete id="deleteWishPlace">
DELETE FROM space_wish WHERE wish_no = #{no}
</delete>

</mapper>