<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.myproject.mapper.guidemenu.StudyGroupMapper">

<!-- 스터디모임 이름 중복체크 -->
<select id="selectSameGroupName" resultType="String">
SELECT group_name FROM studygroup_master
WHERE group_name = #{name}
</select>

<!-- 스터디 모임 만들기 -->
<insert id="InsertNewGroup">
INSERT INTO studygroup_master(group_key, group_category, group_name, group_maker, group_boundary, 
group_info, register_dt)
VALUES(#{groupDTO.group_key}, #{groupDTO.group_category}, #{groupDTO.group_name}, #{id}, #{groupDTO.group_boundary}, #{groupDTO.group_info}, now())
</insert>

<!-- 스터디 모임 만들 시 group_detail에도 넣기 -->
<insert id="InsertNewGroupDetail">
INSERT INTO studygroup_detail(group_key, member_id, member_nickname, member_role, member_code)
VALUES(#{groupDTO.group_key}, #{id}, #{nickName}, '방장', '개설자')
</insert>

<!-- 나의 모임 페이지 이동 시 모임 리스트 가져오기 -->
<select id="selectMyGroupList" resultType="GroupDTO">
SELECT * FROM studygroup_master WHERE group_maker = #{userId}
</select>

<!-- 나의 모임 페이지 이동 시 내가 참여한 모임 리스트 가져오기 -->
<select id="selectMyJoinList" resultType="GroupDTO">
SELECT m.group_key, m.group_category, m.group_name, m.group_maker, m.member_count, d.join_dt
FROM studygroup_master AS m, studygroup_detail AS d
WHERE m.group_key = d.group_key
AND d.member_id = #{myId}
AND d.member_code = '참가자'
</select>

</mapper>